.header {
  width: 100%;
  height: 80px;
  background: linear-gradient(135deg, #e30613 0%, #8b0000 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: #fff;
}

/* IZQUIERDA */
.left {
  display: flex;
  align-items: center;
}

/* DERECHA */
.right {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* PEDIDOS HOY */
.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label {
  font-size: 12px;
  opacity: 0.85;
}

.value {
  font-size: 20px;
  font-weight: 700;
}

/* RIDER */
.riderInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.riderText {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.dashboard {
  font-size: 12px;
  opacity: 0.85;
}

.name {
  font-size: 14px;
  font-weight: 700;
}
