.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  width: 420px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.25);
  font-family: "Segoe UI", sans-serif;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000; /* negro */
}

.subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000; /* negro */
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: #000; /* negro */
}

.row strong {
  color: #000; /* negro */
}

.row span {
  color: #000; /* negro */
}

.list {
  margin-top: 10px;
  padding-left: 15px;
  
}

.list li {
  color: #616161; 
  font-weight: 600;
}


.closeBtn {
  margin-top: 20px;
  width: 100%;
  background: #e02020;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.closeBtn:hover {
  background: #c81b1b;
}
