.card {
  width: 160px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}



.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 100px;
  object-fit: contain;
  background-color: #f9f9f9;
  padding: 10px;
}

.content {
  padding: 8px;
}

.content h3 {
  font-size: 0.95rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.iconContainer {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 0 auto 10px; /* centrado y margen abajo */
  padding: 10px;
}

.icon {
  width: 60px;
  height: 60px;
  color: #f40009; /* color principal  */
}
