.user_page {
  width: 100%;
  padding: 10px;
}

.user_title {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user_card {
  width: 500px;
  min-height: 260px;
  background-color: white;
  margin: 20px;
  padding: 40px;
  border-radius: 30px;
  border: 2px solid black;
}

.user_data {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.user_card_delete_button {
  color: white;
  background-color: red;
  padding: 10px 30px;
  border: 2px solid red;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.user_card_delete_button:hover {
  color: red;
  background-color: white;
}
