.signupContainer {
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  min-height: 100vh;
}

.signupForm {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 10px;
  width: 550px;
  display: flex;
  flex-direction: column;
}

.signupForm label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
}

.signupForm input[type="text"],
.signupForm input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.signupForm a {
  color: black;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
}

.divider {
  margin: 20px 0;
  color: gray;
  font-size: 14px;
  text-align: center;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
  align-self: flex-end;
}

.crearCuenta {
  margin-top: 10px;
  font-size: 13px;
  text-align: right;
}

.reset {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}
