.layout {
  display: flex;
  gap: 25px;
  max-width: 1200px;
  margin: 20px auto;
  color: #000000;
}

.tableContainer {
  flex: 2;
  background: white;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table th {
  background: #ffb3b3;
  padding: 10px;
  text-align: left;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.badge {
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}

.entregado {
  background: #e6f7ea;
  color: #198437;
}

.cancelado {
  background: #fdeaea;
  color: #d93030;
}

.tiempo {
  background: #e0f4ff;
  color: #0077b6;
}

.retraso {
  background: #fff5cc;
  color: #b59b00;
}

.noEntregado {
  background: #fff5cc;
  color: #b59b00;
}

.sub {
  font-size: 12px;
  color: #777;
}

.more {
  cursor: pointer;
}

.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 6px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-size: 13px;
}

.pagination button:hover {
  background: #ffe0de;
}

.active {
  background: #fc867e;
  border-color: #e06161;
  color: white;
  font-weight: 600;
}

.detailCard {
  flex: 1;
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
  font-size: 13px;
}

.user {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  align-items: center;
}

.avatar {
  background: #f1f1f1;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
}

.name {
  font-weight: 600;
  font-size: 13px;
}

.sub {
  font-size: 11px;
  color: #777;
}

.sectionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.box {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  background: #fafafa;
}

.box span {
  font-size: 11px;
  color: #777;
  display: block;
  margin-bottom: 4px;
}

.box p {
  font-weight: 500;
}

.boxFull {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 12px;
  background: #fafafa;
  margin-bottom: 10px;
}

.boxFull span {
  font-size: 11px;
  color: #777;
  display: block;
  margin-bottom: 6px;
}

.boxFull p,
.boxFull ul {
  font-size: 13px;
}

.boxTotal {
  border: 1px solid #ffb3b3;
  background: #fff1f1;
  border-radius: 12px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.boxTotal span {
  font-size: 12px;
  color: #555;
}

.boxTotal strong {
  font-size: 18px;
  color: #000;
}

.note {
  font-size: 11px;
  color: #777;
  margin-top: 8px;
}