version: "3.9"
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: merkado
      MYSQL_USER: app
      MYSQL_PASSWORD: app
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  api:
    build: ../.. # Se ajustará cuando el backend tenga código
    depends_on:
      - db
      - redis

  web:
    build: ../..
    depends_on:
      - api
