.layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.container {
    width: 700px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0,0,0,0.08);
    padding: 20px;
}

/* Tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.th {
    background: #ffb3b3;
    padding: 8px 10px;
    text-align: left;
    font-weight: bold;
}

.td {
    padding: 8px 10px;
    background: white;
    border-bottom: 1px solid #ececec;
}

/* Filas hover */
.rowHover:hover .td {
    background: #f4f4f4;
    cursor: pointer;
}

/* Fila seleccionada */
.selectedRow .td {
    background: #ffe0e0;
}

/* Paginación */
.pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 10px;
}

.paginationBtn {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: white;
    transition: 0.2s;
}

.paginationBtn:hover {
    background: #ffb3b3;
}

.activeBtn {
    background: #ffb3b3;
    border-color: #e38a8a;
    font-weight: bold;
}

/* Card del cliente */
.card {
    width: 280px;
    background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.10);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
}

.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dcdcdc;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    font-size: 13px;
    color: #777;
}

.sectionTitle {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputBox {
    width: 100%;
    background: #f1f5f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.stats {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.statBox {
    width: 32%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.blue {
    background: white;
    color: #3d5bfd;
    border-color: black;
}

.green {
    background: white;
    color: #198437;
    border-color: black;
}

.red {
    background: white;
    color: #d93030;
    border-color: black;
}
