.wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Contenido */
.container {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: #111;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ececec;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #111;
}

.value {
  font-size: 0.85rem;
  color: #111;
}

.editBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
  color: #f40009;
  cursor: pointer;
}
.h2 {
  color: #111;
}
