.page {
  max-width: 1200px;
  margin: 30px auto;
  font-family: "Segoe UI", sans-serif;
  color: #000000;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.check {
  width: 45px;
  height: 45px;
  background: #22c55e;
  color: white;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.header h2 {
  margin-bottom: 5px;
}

.header p {
  font-size: 14px;
}

.header span {
  font-size: 12px;
  color: #777;
}

.content {
  display: flex;
  gap: 25px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 15px;
}

.infoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.infoGrid span {
  font-size: 11px;
  color: #777;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.product:last-child {
  border-bottom: none;
}

.productInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.productInfo img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: #f1f1f1;
}

.productInfo p {
  font-size: 14px;
}

.productInfo span {
  font-size: 12px;
  color: #777;
}

.delivery span {
  font-size: 11px;
  color: #777;
}

.delivery p {
  font-weight: 500;
}

.delivery small {
  font-size: 12px;
  color: #777;
}

.deliveryTime {
  margin-top: 10px;
  background: #ecfdf5;
  color: #065f46;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}

.primaryBtn {
  width: 100%;
  background: #e02020;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.secondaryBtn {
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.card small {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
    color: #777;
}