/* ========= LAYOUT ========= */
.layout {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 25px;
}

/* ========= TABLA ========= */
.container {
  width: 700px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0);
}

.tableContainer {
  padding: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.table th,
.th {
  background: #ff3838;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color: #000000;
}

/*  TEXTO NEGRO SIEMPRE */
.table td,
.td {
  padding: 10px;
  border-bottom: 1px solid #d8d8d8;
  color: #000 !important;
}

/*  Hover corregido */
.rowHover:hover td {
  background: #f2f2f2;
  color: #000 !important;
}

/* Fila seleccionada corregida */
.selectedRow td {
  background: #aeadaf;
  color: #000 !important;
}

/* ========= PAGINACIÓN ========= */
.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 15px;
  color: black;
}

.paginationBtn {
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.paginationBtn:hover {
  background: #e70d0d;
}

.activeBtn {
  background: #ff0606;
  border-color: #830000;
  font-weight: bold;
}

/* ========= CARD DERECHA ========= */
.card {
  width: 280px;
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  color: rgb(200, 0, 0);
}

.profileImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.subtitle {
  font-size: 13px;
  color: #000000;
}

.sectionTitle {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.inputBox {
  background: #d44242;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.statBox {
  width: 32%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
  background: #eeeeee;
  border: 1px solid #bbb;
}

.blue {
  color: #1e2fd1;
}

.green {
  color: #0e5f27;
}

.red {
  color: #b30000;
}
